<div class="ink-grid" style="min-width: 800px;">
	<div>
	<img src="./framework/img/logo_new_left.png" style="padding-bottom: 5px;"></img>
	</div>
	<nav class="ink-navigation large-100 medium-100 small-100">
		$gamecp_nav
	</nav>
	$vote_page
	<div class="box">
		$out
	</div>
	
	$footer
</div>