body
{
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	min-width: 1210px;
}

.login_form .form_labels
{
	padding-right: 25px;
	text-align: right;
}

.registration_form .form_labels
{
	padding-right: 20px;
	text-align: left;
	vertical-align: top;
	padding-top: 8px;
	
}

.registration_form input[type='text'], .registration_form input[type='password'], .registration_form input[type='email']
{
	width: 375px;
}

.login_form input[type='text'], .login_form input[type='password']
{
	width: 200px;
}

.login_form .form_submit
{
	text-align: right;
}

.registration_form .form_submit
{
	text-align: left;
}

.registration_form .form_submit button
{
	margin-left: 0px;
}

/* Footer Points */
.footer_points
{
	font-size: 1.1em;
	position: absolute;
	color: #FFFFFF;
	right: 10px;
	top: 14px;
}

.footer_copy
{
	position:absolute;
	color: #FFFFFF;
	top: 15px;
	width: 30%;
	text-align:center;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.submenu
{
	width: 12em !important;
}

.category_box
{
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	text-align: center;
	margin-top: 0 !important;
	margin-left: 18px !important;
	margin-right: 18px !important;
	margin-bottom: 3px !important;
	border-radius: 4px !important;
	box-shadow: 0 0 0 0 !important;
	border-color: gray !important;
}
.category_box a
{
	color: #FFFFFF;
}

.category_row
{
	margin-top: 0px !important;
}

.category_box a :hover
{
	color: #FFFFFF;
}

.category_link
{
	font-weight: bold;
	font-size: 14pt;
}

.breadcrumbs
{
	font-size: 14pt;
}

.sub_categories
{
	font-size: 10pt;
}

.talic
{
	margin: 0px !important;
	margin-top: 4px !important;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 1px solid #1b2121;
	border-bottom: 1px solid #19260b;
	background-color: #afe3e5;
	height: 24px;
	width: 15px;
}
.talic:first-child
{
	padding-left: 1px;
	border-left: 1px solid #141a1e;
	width: 17px;
}
.talic:last-child
{
	padding-right: 1px;
	border-right: 1px solid #002a2e;
	width: 17px;
}

.no_left_margin
{
	margin-left: 0px !important;
}

.icon_link
{
	margin-right: 5px;
}

.icon_link :hover
{
	text-decoration: none;
}

/*
*
*	Item Market
*
*/

.market_item_block
{
    width: 240px;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #CCCCCC;
    border-radius: 5px; 
    cursor: default;
    text-align:center;
    box-sizing: content-box !important;
	/*display: inline-block;*/
	margin-left: 17px;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F9FCFF;
	float:left;
	position:relative;
	min-height: 170px;
}

.market_item_block:hover
{
    box-shadow: inset 0px 0px 0px #CCCCCC;
}

.market_image_wrapper
{
    width: 100%;
    text-align: center;
    padding-top: 5px;
    box-sizing: content-box !important;
	margin-top: 0px;
}

.market_image_background
{
    //background-image:url(../images/items/item_border.png);
    width: 66px;
    height: 66px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    box-sizing: content-box !important;
	border-left: 1px solid #141a1e;
	border-top: 1px solid #1b2121;
	border-bottom: 1px solid #19260b;
	border-right: 1px solid #002a2e;
	background-color: #afe3e5;
}

.market_item_image
{
    padding-top: 1px; 
    width: 64px; 
    height: 64px;
    border-radius: 3px;
    box-sizing: content-box !important;
}

.market_item_title
{
    font-size: 14pt; 
    padding: 5px; 
    text-align: center;
	height: 30px;
	overflow: hidden;
}

.market_item_credits_amount
{
    font-size: 20pt; 
    font-weight: bold; 
    padding-top: 2px;
	position: absolute;
	bottom: 2px;
	left: 0px;
	right: 0px;
}

.market_item_credits_amount.item_price img 
{
	padding-top: 8px;
	padding-left: 5px;
}

.market_item_credits_amount.item_price.not_enough
{
	color: #FF6464;
}

.market_item_quantity
{
	font-size: 14pt;
	padding-top: 3px;
}

.market_current_points_text img
{
	padding-top: 2px;
}

.market_item_credits_label
{
    font-size: 10pt; 
}

.market_item_credits_first_letter
{
    font-size: 11pt;
}

.market_race_image
{
	position: absolute;
	bottom: 2px;
	left: 10px;
	opacity: 0.3;
}

.market_item_rent_time 
{
	position: absolute;
	top: 35px;
	left: 6px;
	opacity: 0.4;
	font-weight: bold;
}

.market_race_image img 
{
	width: 30px;
	height: 30px;
}

.char_select
{
	text-align: right;
	padding-top: 5px;
	padding-bottom: 7px;
}

#cart_error
{
	margin-top: 0px;
	text-shadow: 0 0 0;
	font-size: 12pt;
}

.cart_info
{
	position: fixed;
	top: 30px;
	right: 31px;
	min-width: 90px;
	background: #EFF1F4 url(img/sprite.png) -218px -2px;
	font-size: 13px;
	font-weight: bold;
	color: #6e6e6e;
	text-shadow: 1px 1px 0 #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
	-moz-box-shadow: inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
	box-shadow: inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
	padding: 7px 8px 6px 33px;
	line-height: 18px;
	margin-left: 30px;
	cursor: pointer;
	-webkit-transition: background-color .2s linear;
}

#cartPopover {
	position: fixed;
	width: 400px;
	top: 72px;
	right: 31px;
	z-index: 9999;
	padding: 10px;
	/*display: none;*/
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,.8);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	/*border-radius: 4px;
	border: 1px solid #BBB;*/
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
	/*background: #45484a;
	background: -moz-linear-gradient(top, #45484a 0%, #2a2b2c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484a), color-stop(100%,#2a2b2c));
	background: -webkit-linear-gradient(top, #45484a 0%,#2a2b2c 100%);
	background: -o-linear-gradient(top, #45484a 0%,#2a2b2c 100%);
	background: -ms-linear-gradient(top, #45484a 0%,#2a2b2c 100%);
	background: linear-gradient(top, #45484a 0%,#2a2b2c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484a', endColorstr='#2a2b2c',GradientType=0 );*/
}

#triangle {
	position: absolute;
	left: 81%;
	margin-left: -12px;
	color: #1b75ce;
	top: -20px;
	font-size: 24px;
	text-shadow: 0 0 0 #444749 !important;
	-webkit-transform: scale(1.2,.8) translateY(1.5px);
	-moz-transform: scale(1.2,.8) translateY(1.5px);
	transform: scale(1.2,.8) translateY(1.5px);
}

#cartPopover .itemRow div 
{
	float: left;
}

.cart_info.open 
{
	background-position: -218px -26px;
}

#cartPopover .item-custom 
{
	width: 35px;
	margin-right: 6px;
}

#cartPopover .item-custom span 
{
	float: left;
	display: inline-block;
	width: 23px;
	text-align: left;
}

#cartPopover .simpleCart_increment
{
	margin-top: 4px !important;
}

#cartPopover .simpleCart_increment, #cartPopover .simpleCart_decrement 
{
	line-height: 1;
	font-size: 1px;
	display: block;
	height: 6px;
	margin-top: 2px;
	margin-left: 3px;
}

#cartPopover .item-name 
{
	float: left;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#cartPopover .itemRow .item-total 
{
	float: right;
}

#cartPopover .itemRow 
{
	float: left;
	width: 100%;
	height: 23px;
}

#cartData {
	padding-top: 3px;
	padding-bottom: 5px;
	margin-top: 20px;
	clear: both;
}

.left {
	float: left;
	margin-left: 0px !important;
}

.right {
	float: right;
	margin-right: 0px !important;
}

#cartPopover hr
{
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
#popoverButtons {
	/*padding: 10px;*/
	margin-top: 0px !important;
}

#popoverButtons a:first-child
{
	margin-left: 0px !important;
}

/*
*
*	Voting Style
*
*/
.vote_wrapper
{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.vote_header
{
	font-size: 16pt;
	font-weight: bold;
}

.vote_sub_header
{
	padding-bottom: 5px;
}

.vote_wrapper img
{
	height: 50px !important;
}

/*
*
*	Override msDropDown
*
*/
.dd
{
    border: 0px !important;
	line-height: 1 !important;
}
.ddChild
{
    height: auto !important;
}

.ddcommon .ddChild
{
    width: auto !important;
}

.ddTitle .divider
{
    display: none !important;
}

.ddTitle .ddArrow
{
    display: none !important;
}

.ddTitle .ddTitleText
{
    padding: 0px !important;
}

.fnone
{
    padding: 0px !important; 
	max-width: none !important;
	max-height: none !important;
}

.dd .ddChild li
{
   padding: 0px !important;
   margin: 0px !important;
   line-height: 1 !important;
}

.item_talics
{
	line-height: 1 !important;
}

/* END msDropDown */

/*
*
* Color support
*
*/

.ink-blue
{
	background: #1b75ce;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b75ce', endColorstr='#155ba1');
	background: -moz-linear-gradient(top, #1b75ce 0%, #155ba1 150%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b75ce), color-stop(150%, #155ba1));
	background: -webkit-linear-gradient(top, #1b75ce 0%, #155ba1 150%);
	background: -o-linear-gradient(top, #1b75ce 0%, #155ba1 150%);
	background: -ms-linear-gradient(top, #1b75ce 0%, #155ba1 150%);
	background: linear-gradient(to bottom, #1b75ce 0%, #155ba1 150%);
}

.ink-red
{
	background: #be1c1c;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#be1c1c', endColorstr='#921515');
	background: -moz-linear-gradient(top, #be1c1c 0%, #921515 150%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #be1c1c), color-stop(150%, #921515));
	background: -webkit-linear-gradient(top, #be1c1c 0%, #921515 150%);
	background: -o-linear-gradient(top, #be1c1c 0%, #921515 150%);
	background: -ms-linear-gradient(top, #be1c1c 0%, #921515 150%);
	background: linear-gradient(to bottom, #be1c1c 0%, #921515 150%);
}

.ink-black
{
	background: #1a1a1a;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#0d0d0d');
	background: -moz-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(150%, #0d0d0d));
	background: -webkit-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
	background: -o-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
	background: -ms-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
	background: linear-gradient(to bottom, #1a1a1a 0%, #0d0d0d 150%);
}

.ink-green
{
	background: #4c9220;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c9220', endColorstr='#366817');
	background: -moz-linear-gradient(top, #4c9220 0%, #366817 150%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c9220), color-stop(150%, #366817));
	background: -webkit-linear-gradient(top, #4c9220 0%, #366817 150%);
	background: -o-linear-gradient(top, #4c9220 0%, #366817 150%);
	background: -ms-linear-gradient(top, #4c9220 0%, #366817 150%);
	background: linear-gradient(to bottom, #4c9220 0%, #366817 150%);
}

.ink-grey
{
	background: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#cccccc');
	background: -moz-linear-gradient(top, #e6e6e6 0%, #cccccc 150%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(150%, #cccccc));
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #cccccc 150%);
	background: -o-linear-gradient(top, #e6e6e6 0%, #cccccc 150%);
	background: -ms-linear-gradient(top, #e6e6e6 0%, #cccccc 150%);
	background: linear-gradient(to bottom, #e6e6e6 0%, #cccccc 150%);
}

.ink-orange
{
	background: #f2990d;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2990d', endColorstr='#c27b0a');
	background: -moz-linear-gradient(top, #f2990d 0%, #c27b0a 150%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2990d), color-stop(150%, #c27b0a));
	background: -webkit-linear-gradient(top, #f2990d 0%, #c27b0a 150%);
	background: -o-linear-gradient(top, #f2990d 0%, #c27b0a 150%);
	background: -ms-linear-gradient(top, #f2990d 0%, #c27b0a 150%);
	background: linear-gradient(to bottom, #f2990d 0%, #c27b0a 150%);
}

.ink-white
{
	background: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 150%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(150%, #f2f2f2));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 150%);
	background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 150%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 150%);
	background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 150%);
}

.box.ink-grey a, .box.ink-white a
{
	color: #555555;
}

.box.ink-blue a, .box.ink-red a, .box.ink-black a, .box.ink-green a, .box.ink-orange a
{
	color: #FFFFFF;
}

.icon_link.white, .icon_link.grey, .icon_link.black, .icon_link.blue, .icon_link.green, .icon_link.orange, .icon_link.red
{
	color: #555555;
}

.box.ink-blue, .box.ink-red, .box.ink-black, .box.ink-green, .box.ink-grey, .box.ink-orange, .box.ink-white
{
	/*margin-top: 32px;*/
	padding-top:15px;
	padding-bottom:15px;
	padding-left: 0px;
	padding-right: 5px;
	position: relative;
}

.ink-tooltip 
{
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size: 15pt;
}

.align-left
{
	text-align: left;
}

.no-select
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bonus_item_quantity
{
	position: absolute;
	font-size: 15px;
	color: white;
	bottom: -7px;
	right: 2px;
	font-weight: bold;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.bonus_item_block
{
	position: relative;
	height: 40px; 
	width: 40px; 
	cursor: default; 
	display: inline-block;
	padding-left: 2px;
}

.bonus_char_selection
{
	text-align: center;
}

.bonus_char_selection .char_select
{
	text-align: center;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline-block;
}

.newsleter_layout td
{
	vertical-align: middle;
	text-align: left;
	padding: 5px;
}

.newsleter_layout
{
	width: 100%;
}

.ink-table-condensed tr td
{
	padding: 5px 5px !important;
	line-height: 1 !important;
}